@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

* {
  margin: 0;
}

header {
  position: fixed;
  text-align: center;
  width: 100%;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
}

main {
  padding-top: 80px;
  width: 100%;
  padding-left:40px;
}


h1 {
  font-family: 'Open sans';
  font-weight: 300;
  color: red;
}

.maintitle {
  font-family: 'Open sans';
  font-size: 14px;
}

.firstfoods {
  display: flex;
  overflow-x: scroll;
  width: 300px;
  align-items: center;

}

.firstfoods img {
  width: 100px;
  height: 100px;
}

.secondfoods {
  margin-top: 30px;
  display: flex;
  overflow-x: scroll;
  width: 300px;
  align-items: center;
}

.thirdfoods {
  margin-top: 30px;
  display: flex;
  overflow-x: scroll;
  width: 300px;
  align-items: center;
}

.thirdfoods img{
  width: 100px;
  height: 100px;
}

.secondfoods img {
  width: 100px;
  height: 100px;
}

.foodname {
  display: block;
  font-family: 'Open sans';
  color: rgb(42, 42, 42);
  font-size: 12px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  color: rgb(71, 67, 67);
  padding-top: 2px;
  font-size: 9px;
  font-weight: 200;
}

.box1 {
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(246, 242, 233);
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.box2,
.box3 {
  height: 160px;
  background: #ffffff;
  background-color: rgb(246, 242, 233);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 29px;
}

.box4 {
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(246, 242, 233);
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.box5,.box6{
  height: 160px;
  background: #ffffff;
  background-color: rgb(246, 242, 233);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 29px;
}

.box7 {
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(246, 242, 233);
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.box8,.box9{
  height: 160px;
  background: #ffffff;
  background-color: rgb(246, 242, 233);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 29px;
}

.bordar{
  border: 3px solid #D00303;
}

.x2:hover{
  border: 3px solid #D00303;
}

.x3:hover {
  border: 3px solid #D00303;
}

button {
  position: fixed;
  bottom: 0;
  width: 50%;
  background-color: rgb(250, 0, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  height: 30px;
  font-family: 'Open Sans';
  font-size: 85%;
  line-height: 1.15;
  margin-left: 80px;
}

.botao {
  margin-top: 50px;
}

button:hover{
  filter: brightness(110%);
}

.price {
  padding-left: 40px;
  font-size: 14px;
  font-family: 'Open Sans';
}

.value{
  margin-bottom: 50px;
  position: fixed;
  bottom: 0;
  background-color: green;

}

.final{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}